.app-body {
    margin: 0 4%;
    padding: 4% 0;
}

.app-footer {
    height: 4%;
    width: auto;
    text-align: center;
    background-color: #f2dcbb;
    padding: 2rem 0;
}

.collapse {
    padding-right: 5%;
}

/* .nav-links {
    padding-left: 53%;
}
.nav-item {
    width: auto;
    padding-left: 4rem;
} */