.greeting-msg {
    font-size: 5rem;
}

.intro {
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: lighter;
    font-style: normal;
    line-height: 5rem;
}

.covid-image {
    width: 80%;
}

@media (max-width: 1500px) {}

@media (max-width: 1000px) {}

@media (max-width: 550px) {
    .intro {
        margin-top: 4rem;
        font-size: 1.5rem;
        font-weight: lighter;
        font-style: normal;
        line-height: 2rem;
    }

    .covid-image {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.card {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 5%;
}

.card-header {
    text-align: center;
}

.card-body {
    text-align: center;
}

.card-row {
    margin-left: 1px;
}

.overview {
    text-align: center;
    font-size: 4rem;
    padding: 5% 0 0 0;
}