<div class="body">
    <div>
        <h1>Get well Soon!!!</h1> <br> <br>
        <h3>The outbreak of the coronavirus or the so-called covid-19 makes the earth grief</h3>
        <img src="../covid.png" alt="covid image comes here">
        <img src="../../img/firstImage.jpg" alt="covid image comes here">
    </div>

    <div>

        <div class="card">
            <div class="card-header">
                NewConfirmed
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{newConfirmed}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer> -->
                </blockquote>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                TotalConfirmed
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{totalConfirmed}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer> -->
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                NewDeaths
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{newDeaths}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer> -->
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                TotalDeaths
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{totalDeaths}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer> -->
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                NewRecovered
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{newRecovered}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                            </footer> -->
                </blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                TotalRecovered
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{totalRecovered}}</p>
                    <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                            </footer> -->
                </blockquote>
            </div>
        </div>

    </div>
</div>